@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Raleway:wght@200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    min-width: 320px;
}

a {
    text-decoration: none;
}

//variables
$nav-display: none;
$nav-text-1-color: #000000;
$nav-text-2-color: #888888;
$nav-text-3-color: #888888;
$nav-text-4-color: #888888;
$nav-toggle-img: url('../img/icons/menu.svg');
$nav-cross-img: url('../img/icons/cross-menu.svg');
$primary-accent: #08A6E4;
$secondary-accent-1: #FB3B64;
$secondary-accent-2: #55DFB4;
$island-border: 1px solid #E8E9ED;
$subdued-color-1: #A5A5A5;
$subdued-color-2: #707070;
$subdued-color-3: #95989A;

.header {
    text-align: center;
    z-index: 10;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.29);
    position: fixed;
    background-color: white;
    &__container {
        width: 80%;
        display: inline-block;
        padding: 10px 0px;
    }
    &__indicator {
        text-align: left;
        width: 100%;
        height: 5px;
    }
}

.indicator-bar {
    height: 100%;
    width: 0%;
    background-color: $primary-accent;
}

.title {
    display: inline-block;
    width:60%;
    text-align: left;
}

.nav-div {
    display: inline-block;
    width:30%;
    text-align: right;
    &__toggle {
        display: inline-block;
        width: 20px;
        height: 12px;
        margin: 0 0 5px 0;
        background-image: $nav-toggle-img;
    }
}

.navtoggle:focus {
    width: 15px;
    height: 15px;
    background-image: $nav-cross-img;
    background-repeat: no-repeat;
}

.title {
    color: $primary-accent;
    font-weight: 300;
    font-size: 32px;
}

.whyus {
    text-align: center;
    padding: 150px 0 30px 0;
    
    &__title {
        font-size: 35px;
        margin: 30px 0;
    }

    &__tagline-1 {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        padding: 20px 18%;
    }

    &__img {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    &__tagline-2 {
        padding: 10px 15%;
    }
}

.icon {
    margin: 10px;
    display: inline-block;    
    &__circle {
        position: relative;
        width: 63px;
        height: 63px;
        border-radius: 50%;
        right: 5px;
    }
}

#icon-1 .icon__circle {
    background-color: $secondary-accent-1;
}

#icon-2 .icon__circle {
    background-color: $primary-accent;

}

#icon-3 .icon__circle {
    background-color: $secondary-accent-2;
}

#icon-img-2 {
    top: 20px;
}

#icon-img-3 {
    top: 10px;
}

.icon-img {
    position: relative;
    width: 80%;
    height: auto;
    left: 25px;
}

.bold-text-1 {
    font-size: 20px;
    letter-spacing: 0.5rem;
    font-weight: 700;
    margin: 10px;
}

.large-paragraph {
    width: 12ch;
    font-size: 17px;
    font-weight:100;
    margin: 20px auto;
}

.button {
    background-color: $primary-accent;
    display: inline-block;
    color: white;
    border-radius: calc(67px / 2);
    min-width: 310px;
    height: 67px;
    border: none;
    margin: 10px;
}

.nav {
    width: 100%;
    display: $nav-display;
}

.benefits {
    text-align: center;
    background-color: #E5E5E5;
    padding: 20px 0 30px 0;
    width:100%;
    margin:20px 0;
}

.island {
    background-color: white;
    border: $island-border;
    border-radius: 5px;
    padding: 20px;
    margin: 30px;
    &__title {
        text-align: left;
        margin: 10px;
        font-size: 30px;
    }
    &__paragraph {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        margin: 10px;
        font-size: 14px;
    }
}

#island-3 {
    margin-bottom: 0;
}

#icon-4 .icon__circle {
    display: block;
    ////positio: relative;
    left: 40px;
    bottom: 30px;
    width:90px;
    height:90px;
    margin:20px 0 60px 0;
    border-radius: 50%;
    background-color: $secondary-accent-1;
}

#img-4 {
    position: relative;
    width: auto;
    height: 110px;
    left: -105px;
    top: 20px;
}

#icon-5 .icon__circle {
    width:132px;
    height:132px;
    margin:0 0 20px 0;
    border-radius: 50%;
    background-color: $primary-accent;
}

#img-5 {
    position: relative;
    width:165px;
    height: auto;
    left: 25px;
    top: 10px;
}

.figure {
    border-radius: 5px;
    background-color: $secondary-accent-2;
    margin: 0 30px 50px 30px;
    padding: 20px 0;
    &__img {
        width: 80%;
        height: auto;
    }
}

.prices {
    text-align: center;
    padding: 20px 0 20px 0;
    width: 100%;
    &__title {
        font-size: 36px;
    }
}

.pricediv {
    border-radius: 18px;
    border: 1px solid;
    margin: 50px auto;
    max-width:315px;
    min-width: 180px;
    padding: 10px;
    &__display {
        width: 100%;
    }
}

.pdisplay-left {
    padding: 10px 0;
    float:left;
    width:49%;
    margin-right:1%;
    padding-top: 50px;
}

.pdisplay-right {
    padding: 10px 0;
    text-align: left;
    float:left;
    width:49%;
    margin-left: 1%;
    padding-top: 40px;
}

.pricetag {
    font-family: 'Open Sans', sans-serif;
    font-size: 46px;
    font-weight: 300;
}

#pricetag-1 {
    color: $secondary-accent-1;
}

#pricebutton-1 {
    background-color: $secondary-accent-1;
}

#pricediv-1 {
    border-color: $secondary-accent-1;
}

#pricetag-2 {
    color: $primary-accent;
}

#pricebutton-2 {
    background-color: $primary-accent;
}

#pricediv-2 {
    border-color: $primary-accent;
}

#pricetag-3 {
    color: $secondary-accent-2;
}

#pricebutton-3 {
    background-color: $secondary-accent-2;
}

#pricediv-3 {
    border-color: $secondary-accent-2;
}

.checkmarks, .crosses {
    list-style-position: inside;
    line-height: 1.5;
}

.checkmarks {
    list-style-image: url('../img/icons/Checkbox.svg');
}

.crosses {
    list-style-image: url('../img/icons/Cross.svg');
}

li {
    line-height: 2;
    font-size: 14px;
}
.bold-text-2 {
    font-size: 20px;
}

.pricediv .button {
    background-color: $secondary-accent-1;
    min-width: 150px;
    height: 50px;
    margin: 0;
    position: relative;
    bottom: -35px;
}

.pricediv:hover {
    transform: scale(1.1);
    box-shadow: 5px 10px 27px rgba(7, 172, 230, 0.29);
}

.contact {
    margin: 20px 10%;
    height: 100%;
}

.big-text {
    font-size: 40px;
}

.small-text {
    font-size: 16px;
}

.contact-text {
    color: $subdued-color-1;
    font-size: 16px;
    display: inline-block;
    vertical-align: center;
    margin: 10px 0;
}

.contact-icon {
    position: relative;
    top:5px;
    margin-right: 20px;
}

.contact__form {
    margin: 40px 0;
}

.contact-input {
    width: 100%;
    height: 2rem;
    display: block;
    margin: 10px 0 40px 0;
    border: none;
    border-bottom: 1px solid $subdued-color-3;
}

.contact-label {
    font-size: 11px;
    display: block;
    margin: 10px;
    color: $primary-accent;
}

.consent-container {
    text-align: center;
    &__checkbox {
        margin:20px 10px;
        display: inline-block;
        width: 24px;
        height: 24px;
        vertical-align: top;
    }
    &__disclaimer {
        text-align: left;
        display:inline-block;
        margin: 20px 0;
        clear: right;
        width: 80%;
        font-size: 12px;
        color: $subdued-color-2;
    }
}

.contact-button {
    min-width: 226px;
    height: 57px;
    margin: 0 0 0 15%;
}

.footer {
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.2);
    padding: 20px 0;
    margin: 0;
    &__trademark {
        padding-left: 5%;
        display: inline-block;
        width: 64.5%;
    }
    &__icon-cluster {
        display: inline-block;
        text-align: right;
        width: 29.5%;
    }
}

.trademark-disclaimer {
    font-size: 11px;
    color: $subdued-color-1;
    padding: 0px;
}

.social-media-icon__img {
    margin: 10px;
}

h2.trademark {
    font-size: 26px;
    color: $primary-accent;
}

@media only screen and (min-width: 600px) {
    .whyus__reasons {
        padding: 0 10%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .header {
        height: 70px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav-div {
        display: none;
    }

    .nav {
        display:flex;
        height: 100%;
        justify-content: space-around;
        align-items: flex-end;
    }

    .nav-text {
        padding-bottom: 23px;
        border-bottom: 2px solid transparent;
    }

    #nav-text-1 {
        border-bottom: 2px solid $primary-accent;
    }

    .island-highlight {
        display: block;
        margin: 20px 10px;
        height: 3px;
        width: 80%;
    }

    #island-highlight-1 {
        background-color: $secondary-accent-1;
    }

    #island-highlight-2 {
        background-color: $primary-accent;
    }

    #island-highlight-3 {
        background-color: $secondary-accent-2;
    }

    .benefits {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
    }

    .island-text {
        width: 50%;
    }

    #island-1 {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
    }

    #island-2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    #island-3-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    #island-3 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon {
        margin: 60px;
    }

    #island-3 {
        margin: 30px;
    }

    #island-text-3 {
        width: 100%;
    }

    .figure {
        width: 40%;
        height: auto;
        margin: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .prices__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .pricediv {
        width: 30%;
        margin: 30px;
    }

    .pricediv__display {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .pdisplay-right {
        width:9rem;
    }
    .pdisplay-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }
    .contact__form {
        margin: 40px;
        width: 40%;
    }
    .contact__prompt {
        margin: 40px;
    }
    .contact-button {
        margin-left: 25%;
    }
}